﻿@using System.Text.RegularExpressions;
@{
    Layout = null;
    Apartman apartman = ViewBag.Apartman as Apartman;
    var data = (new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(apartman);
    data = Regex.Replace(data, @"\""\\/Date\((-?\d+)\)\\/\""", "new Date($1)");
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApartmanPrikaz</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/Multiple-Dates-Picker-for-jQuery-UI-latest/jquery-ui.multidatespicker.js"></script>
    <link href="~/Scripts/Multiple-Dates-Picker-for-jQuery-UI-latest/jquery-ui.multidatespicker.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#datePick').multiDatesPicker();
        });

        function unesiPodatke()
        {
            var apartman = @Html.Raw(data);

            var tipApartmana;
            if (apartman.TipApartmana == '0')
                tipApartmana = "Ceo apartman";
            else
                tipApartmana = "Soba";

            $("label[name=TipApartmana]").html(tipApartmana);
            $("label[name=BrojSoba]").html(apartman.BrojSoba);
            $("label[name=BrojGostiju]").html(apartman.BrojGostiju);
            $("label[name=CenaPoNoci]").html(apartman.CenaPoNoci);
            $('#datePick').multiDatesPicker('addDates', apartman.DatumiZaIzdavanje);

            $("label[name=GeografskaSirina]").html(apartman.Lokacija.GeografskaSirina);
            $("label[name=GeografskaDuzina]").html(apartman.Lokacija.GeografskaDuzina);
            $("label[name=UlicaIBroj]").html(apartman.Lokacija.Adresa.UlicaIBroj);
            $("label[name=NaseljenoMesto]").html(apartman.Lokacija.Adresa.NaseljenoMesto);
            $("label[name=PostanskiBroj]").html(apartman.Lokacija.Adresa.PostanskiBroj);
        }
    </script>
</head>
<body onload="unesiPodatke()" class="p-3 mb-2 bg-dark text-white">
    <table class="table table-borderless" id="glavnaTabela">
        <tr class="text-primary">
            <td colspan="2" align="center"><h3>Apartman</h3></td>
        </tr>
        <tr class="text-primary">
            <td>Tip </td>
            <td>
                <label name="TipApartmana"></label>
            </td>
        </tr>
        <tr class="text-primary">
            <td>Broj soba</td>
            <td>
                <label name="BrojSoba"></label>
            </td>
        </tr>
        <tr class="text-primary">
            <td>Broj gostiju</td>
            <td>
                <label name="BrojGostiju"></label>
            </td>
        </tr>

        <tr class="text-primary">
            <td>
                Cena po noci
            </td>
            <td>
                <label name="CenaPoNoci"></label>
            </td>
        </tr>
        <tr class="text-primary">
            <td>Lokacija</td>
            <td>
                Geografska sirina &nbsp;&nbsp;<label name="GeografskaSirina"></label> <br />
                Geografska duzina <label name="GeografskaDuzina"></label> <br />
                Ulica I Broj &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label name="UlicaIBroj" ></label> <br />
                Naseljeno Mesto &nbsp;&nbsp;&nbsp;<label name="NaseljenoMesto" ></label> <br />
                Postanski broj &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label name="PostanskiBroj" ></label>
            </td>
        </tr>
        <tr class="text-primary">
            <td>Datumi za izdavanje</td>
            <td>
                <input type="text" name="Datumi" id="datePick" />
            </td>
        </tr>
        <tr class="text-primary">
            <td>
                Slike
            </td>
            <td>
                 @{ 
                     if (apartman.Slike == null || apartman.Slike.Count == 0)
                     {
                            <div id="slika" class="text-primary">
                                <img src="#" />
                            </div>
                     }
                     else
                     {
                        foreach (var slika in apartman.Slike)
                        {
                            string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(slika);
                            <div id="slika" class="text-primary" style="display:inline-block">
                                <img src="@Url.Content(relPutanja)" width="50" height="50" runat="server" />
                            </div>
                        }

                     }
                }
            </td>
        </tr>
        <tr class="text-primary">
            <td>
                Sadrzaj apartmana
            </td>
            <td>
                @{
                    List<SadrzajApartmana> sadrzaj = apartman.ListaSadrzajaApatmana;
                    if (sadrzaj == null)
                    {
                        sadrzaj = new List<SadrzajApartmana>();
                    }
                }
                <ol name="Sadrzaj">
                    @foreach (var item in sadrzaj)
                    {
                        if (!item.Obrisan)
                        {
                            <li>@item.Naziv</li>
                        }
                    }
                </ol>
            </td>
        </tr>
    </table>

    <table class="table table-borderless">
        <tr class="text-primary">
            <td><h3>Komentari</h3></td>
        </tr>
        @{
            if(apartman.Komentari == null)
            {
                apartman.Komentari = new List<Komentar>();
            }
        }
        @foreach (var komentar in apartman.Komentari)
        {
            <tr class="text-primary">
                <td>
                    Ime : @komentar.Gost.Ime <br />
                    Ocena : @komentar.Ocena 
                </td>
                <td> @komentar.Text</td>
            </tr>
        }
    </table>


</body>
</html>
