﻿@using System.Text.RegularExpressions;
@{
    
    Layout = null;
    Apartman apartman = ViewBag.Apartman as Apartman;
    var data = (new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(apartman);
    data = Regex.Replace(data, @"\""\\/Date\((-?\d+)\)\\/\""", "new Date($1)");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apartman</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ApartmanModifikacija.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/Scripts/Multiple-Dates-Picker-for-jQuery-UI-latest/jquery-ui.multidatespicker.js"></script>
    <link href="~/Scripts/Multiple-Dates-Picker-for-jQuery-UI-latest/jquery-ui.multidatespicker.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#datePick').multiDatesPicker();
        });

        function popuniPocetnimVrednostima()
        {
            var apartman = @Html.Raw(data);

            $("input[name=TipApartmana]").val(apartman.TipApartmana);
            $("input[name=BrojSoba]").val(apartman.BrojSoba);
            $("input[name=BrojGostiju]").val(apartman.BrojGostiju);
            $("input[name=GeografskaSirina]").val(apartman.Lokacija.GeografskaSirina);
            $("input[name=GeografskaDuzina]").val(apartman.Lokacija.GeografskaDuzina);
            $("input[name=UlicaIBroj]").val(apartman.Lokacija.Adresa.UlicaIBroj);
            $("input[name=NaseljenoMesto]").val(apartman.Lokacija.Adresa.NaseljenoMesto);
            $("input[name=PostanskiBroj]").val(apartman.Lokacija.Adresa.PostanskiBroj);

           
            $('#datePick').multiDatesPicker('addDates', apartman.DatumiZaIzdavanje);
           
            

            $("input[name=VremeZaPrijavu]").val(apartman.VremeZaPrijavu);
            $("input[name=VremeZaOdjavu]").val(apartman.VremeZaOdjavu);
            $("input[name=CenaPoNoci]").val(apartman.CenaPoNoci);
            
            $("input[name=Status]").val(apartman.Status);
        }

        function validacija() {
            var ret = true;

            var tipApartmana = document.forms["forma"].TipApartmana.value;
            var brojSoba = document.forms["forma"].BrojSoba.value;
            var brojGostiju = document.forms["forma"].BrojGostiju.value;
            var geoSirina = document.forms["forma"].GeografskaSirina.value;
            var geoDuzina = document.forms["forma"].GeografskaDuzina.value;
            var ulicaIBroj = document.forms["forma"].UlicaIBroj.value;
            var naseljenoMesto = document.forms["forma"].NaseljenoMesto.value;
            var postanskiBroj = document.forms["forma"].PostanskiBroj.value;
            var cenaPoNoci = document.forms["forma"].CenaPoNoci.value;

            if (brojSoba == "") {
                ret = false;
                $("#greska").html("Polje \"Broj soba \" ne moze biti nepopunjeno.");

            }
            else {
                if (+brojSoba < 0) {
                    ret = false;
                    $("#greska").html("Polje \"Broj soba \" mora biti pozitivan ceo broj.");
                }
            }
            if (brojGostiju == "") {
                ret = false;
                $("#greska").html("Polje \"Broj gostiju \" ne moze biti nepopunjeno.");
            }
            else {
                if (+brojGostiju < 0) {
                    ret = false;
                    $("#greska").html("Polje \"Broj gostiju \" mora biti pozitivan ceo broj.");
                }
            }
            if (geoSirina != "") {
                if (isNaN(geoSirina)) {
                    $("#greska").html("Polje \"Geografska sirina \" mora biti pozitivan decimalni broj.");
                    ret = false;
                }
                else {
                    if (+geoSirina < 0) {
                        $("#greska").html("Polje \"Geografska sirina \" mora biti pozitivan decimalni broj.");
                        ret = false;
                    }
                }
            }
            else {
                $("#greska").html("Polje \"Geografska sirina \" ne moze biti nepopunjeno.");
                ret = false;
            }

            if (geoDuzina != "") {
                if (isNaN(geoDuzina)) {
                    ret = false;
                    $("#greska").html("Polje \"Geografska duzina \" mora biti pozitivan decimalni broj.");
                }
                else {
                    if (+geoDuzina < 0) {
                        $("#greska").html("Polje \"Geografska duzina \" mora biti pozitivan decimalni broj.");
                        ret = false;
                    }
                }
            }
            else {
                $("#greska").html("Polje \"Geografska duzina \" ne moze biti nepopunjeno.");
                ret = false;
            }

            if (ulicaIBroj == "") {
                $("#greska").html("Polje \"Ulica i broj \" ne moze biti nepopunjeno.");
                ret = false;
            }
            else {
                if (hasNumber(ulicaIBroj) == false) {
                    $("#greska").html("Polje \"Ulica i broj \" mora sadrzati pozitivan ceo broj.");
                    ret = false;
                }
            }

            if (naseljenoMesto == "") {
                ret = false;
                $("#greska").html("Polje \"Naseljeno mesto \" ne moze biti nepopunjeno.");
            }

            if (postanskiBroj == "") {
                $("#greska").html("Polje \"Postanski broj \" ne moze biti nepopunjeno.");
                ret = false;
            }
            else {
                if (+postanskiBroj < 0) {
                    ret = false;
                    $("#greska").html("Polje \"Postanski broj \" mora biti pozitvan ceo broj.");
                }
            }

            if (cenaPoNoci == "") {
                ret = false;
                $("#greska").html("Polje \" Cena po noci \" ne moze biti nepopunjeno.");
            }
            else {
                if (isNaN(cenaPoNoci)) {
                    ret = false;
                    $("#greska").html("Polje \"Cena po noci \" mora biti pozitvan decimalan broj.");
                }
                else {
                    if (+cenaPoNoci < 0) {
                        ret = false;
                        $("#greska").html("Polje \"Cena po noci \" mora biti pozitvan decimalan broj.");
                    }
                }
            }

        }

        function hasNumber(myString) {
            return /\d/.test(myString);
        }
    </script>
</head>
<body onload="popuniPocetnimVrednostima()" class="p-3 mb-2 bg-dark text-white">
    <form action="~/Apartmani/ModifikujApartman" method="post" enctype="multipart/form-data" onsubmit="validacija()">
        <table class="table table-borderless" id="glavnaTabela">
            <tr class="text-primary">
                <td colspan="2" align="center"><h3>Vas apartman</h3></td>
            </tr>
            <tr class="text-primary">
                <td>Tip </td>
                <td>
                    <select name="TipApartmana">
                        <option value="CeoApartman">Ceo apartman</option>
                        <option value="Soba">Soba</option>
                    </select>
                </td>
            </tr>
            <tr class="text-primary">
                <td>Broj soba</td>
                <td>
                    <input type="number" name="BrojSoba" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Broj gostiju</td>
                <td>
                    <input type="number" name="BrojGostiju" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Lokacija</td>
                <td>
                    Geografska sirina &nbsp;&nbsp;<input type="text" name="GeografskaSirina" /> <br />
                    Geografska duzina <input type="text" name="GeografskaDuzina" /> <br />
                    Ulica I Broj &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="UlicaIBroj" /> <br />
                    Naseljeno Mesto &nbsp;&nbsp;&nbsp;<input type="text" name="NaseljenoMesto" /> <br />
                    Postanski broj &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" name="PostanskiBroj" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Datumi za izdavanje</td>
                <td>
                    <input type="text" name="Datumi" id="datePick" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>
                    Slike
                </td>
                <td>
                    <input type="file" accept="image/png, image/jpeg" name="Slike" multiple>
                </td>
            </tr>
            <tr class="text-primary">
                <td>
                    Cena po noci
                </td>
                <td>
                    <input type="text" name="CenaPoNoci" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Vreme za prijavu</td>
                <td>
                    <input type="time" name="VremeZaPrijavu" value="14:00" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Vreme za odjavu</td>
                <td>
                    <input type="time" name="VremeZaOdjavu" value="10:00" />
                </td>
            </tr>
            <tr class="text-primary">
                <td>Status </td>
                <td>
                    <select name="Status">
                        <option value="Aktivan">Aktivan</option>
                        <option value="Neaktivan">Neaktivan</option>
                    </select>
                </td>
            </tr>
            <tr class="text-primary">
                <td>
                    Sadrzaj apartmana
                </td>
                <td>
                    @{
                        List<SadrzajApartmana> sadrzaj = (List<SadrzajApartmana>)HttpContext.Current.Application["Sadrzaj"];
                        if(sadrzaj == null)
                        {
                            sadrzaj = new List<SadrzajApartmana>();
                        }
                    }
                    <select name="Sadrzaj" multiple>
                        @foreach (var item in sadrzaj)
                        {
                            if (!item.Obrisan)
                            {
                                <option value="@item.ID">@item.Naziv</option>
                            }

                        }
                    </select>
                </td>
            </tr>
            <tr>
                <input type="hidden" name="Id" value="@apartman.Id" />
            </tr>
            <tr>
                <td colspan="2" align="center"> <input type="submit" value="Modifikuj" class="btn btn-primary btn-lg"/></td>
            </tr>

            <tr>
                <td><label id="greska"></label></td>
            </tr>
        </table>
            

        <table class="table table-borderless"  id="vecDodatSadrzaj">
            @{
                List<SadrzajApartmana> sadrzajDomacina = apartman.ListaSadrzajaApatmana;
                if(apartman.ListaSadrzajaApatmana == null)
                {
                    sadrzajDomacina = new List<SadrzajApartmana>();
                }
                int index = 0;
            }
            <tr>
                <td class="text-primary">Lista vec dodatih sadrzaja apartmana </td>
            </tr>
            @foreach (SadrzajApartmana elem in sadrzajDomacina)
            {
                if (!elem.Obrisan)
                {
                    index++;
                    <tr class="text-primary">
                        <td>@index .</td>
                        <td>@elem.Naziv</td>
                    </tr>
                }
            }
        </table>
    </form>
</body>
</html>
