﻿
@{
    Layout = null;
    List<SadrzajApartmana> sadrzaj = (List<SadrzajApartmana>)HttpContext.Current.Application["Sadrzaj"];
    if (sadrzaj == null)
    {
        sadrzaj = new List<SadrzajApartmana>();
        HttpContext.Current.Application["Sadrzaj"] = sadrzaj;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SadrzajiApartmana</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SadrzajiApartmana.css" rel="stylesheet" />

    <script>
        function prikazModifikacije(id)
        {
            if ($("#formaModifikacije" + id).is(":visible")) {
                $("#formaModifikacije" + id).hide();
            }
            else
            {
                $("#formaModifikacije" + id).show();
            }
        }

        function sakrij()
        {
            $(".formaModifikacijeKlasa").hide();
        }

        function dodavanjeValidacija()
        {
            var ret = true;
            var naziv = document.forms["formaDodavanje"].Naziv.value;

            if (naziv == "")
            {
                ret = false;
                $("#greskaDodavanje").html("Morate uneti naziv");
            }

            return ret;
        }

        function modifikacijaValidacija()
        {
            var ret = true;
            var naziv = document.forms["formaModif"].Naziv.value;

            if (naziv == "") {
                ret = false;
                $("#greskaModif").html("Morate uneti naziv");
            }

            return ret;
        }
    </script>
</head>
<body onload="sakrij()" class="p-3 mb-2 bg-dark text-white">
    <p class="text-primary"> <h3>Sav sadrzaj</h3> </p>

    <ol id="sadrzaj">
        @foreach (var s in sadrzaj)
        {
            if (!s.Obrisan)
            {
                <li class="text-primary">
                    @s.Naziv
                    <a href="javascript:void(0);" onclick="prikazModifikacije(@s.ID)">Modifikacija</a>
                    @{ 
                        string idForme = "formaModifikacije" + s.ID;
                    }
                    <div id="@idForme" class="formaModifikacijeKlasa">
                    <form name="formaModif" action="~/Apartmani/ModifikacijaSadrzajaApartmana" method="post" onsubmit="return modifikacijaValidacija()">
                        <table class="table table-borderless">
                            <tr class="text-primary">
                                <td>Izmena sadrzaja apartmana</td>
                            </tr>
                            <tr class="text-primary">
                                <td>Naziv</td>
                                <td> <input type="text" name="Naziv" value="@s.Naziv"/></td>
                            </tr>
                            <tr >
                                <td><input type="hidden" name="Id" value="@s.ID" /></td>
                            </tr>
                            <tr>
                                <td> <input type="submit" class="btn btn-primary btn-lg" value="Modifikacija"/></td>
                            </tr>
                            <tr>
                                <td><label id="greskaModif" class="text-danger"></label></td>
                            </tr>
                        </table>
                        </form>
                    </div>
                    <a href="~/Apartmani/BrisanjeSadrzajaApartmana?Id=@s.ID">Brisanje</a>
                </li>
            }
        } 
    </ol>

    
    <form name="formaDodavanje" action="~/Apartmani/DodavanjeSadrzajaApartmana" method="post"  id="dodavanje" onsubmit="return dodavanjeValidacija()">
        <table class="table table-borderless">
            <tr class="text-primary">
                <td><h5>Unos novog sadrzaja apartmana</h5></td>
            </tr>
            <tr class="text-primary">
                <td>Naziv</td>
                <td> <input type="text" name="Naziv"/></td>
            </tr>
            <tr>
                <td> <input type="submit" class="btn btn-primary btn-lg" value="Dodavanje"/></td>
            </tr>
            <tr>
                <td><label id="greskaDodavanje" class="text-danger"></label></td>
            </tr>
        </table>
    </form>
</body>
</html>
