﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Korisnici</title>
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Korisnici.css" rel="stylesheet" />

</head>
<body class="p-3 mb-2 bg-dark text-white">
    @{
        List<Korisnik> korisnici = (List<Korisnik>)ViewBag.Korisnici;

        
            <form action="~/Pretraga/PretragaKorisnika" method="get" >
                <table class="table table-borderless">
                    <tr class="text-primary">
                        <td>Pretraga</td>
                    </tr>
                    <tr  class="text-primary">
                        <td>Uloga</td>
                        <td>
                            <select name="Uloga">
                                <option value="Nebitno">Nebitno</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Gost">Gost</option>
                                <option value="Domacin">Domacin</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="text-primary">
                        <td>Pol</td>
                        <td>
                            <select name="Pol">
                                <option value="Nebitno">Nebitno</option>
                                <option value="Muski">Muski</option>
                                <option value="Zenski">Zenski</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="text-primary">
                        <td>Korisnicko ime</td>
                        <td> <input type="text" name="KorisnickoIme" /></td>
                    </tr>
                    <tr >
                        <td><input type="submit" value="Pretrazi" class="btn btn-primary btn-lg"/></td>
                    </tr>
                </table>
            </form>
           
           
           
            
            <label>Pregled svih korisnika : </label>
            <ul  id="listaKorisnika">
                @foreach (var item in korisnici)
                {
                    <li  >
                        <div class="text-primary">
                            @item.KorisnickoIme , <br /> @item.Pol pol ,<br /> @item.Uloga
                        </div>
                       
                    </li>
                }
            </ul>
       

        HttpContext.Current.Application["Poziv"] = "Domacin";
    }

    <a href="~/PrijavaIRegistracija/Registracija"  id="kreiranjeDomacina" role="button" class="btn btn-primary btn-lg" >Kreiraj domacina</a>
</body>
</html>
