﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prijava</title>

    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Prijava.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>  
    <script type="text/javascript">
        

        function logovanje() {
            var ret = true;

            var korisnickoIme = document.forms["forma1"].KorisnickoIme.value;
            var lozinka = document.forms["forma1"].Lozinka.value;


            if (korisnickoIme == "" && lozinka == "") {
                $("#rezultatLogovanja").html("Korisnicko ime i lozinka moraju biti popunjeni.");
                ret = false;
            }
            else if (korisnickoIme == "" && lozinka != "") {
                $("#rezultatLogovanja").html("Polje za korisnicko ime mora biti popunjeno.");
                ret = false;
            }
            else if (korisnickoIme != "" && lozinka == "") {
                $("#rezultatLogovanja").html("Polje za lozinku mora biti popunjeno.");
                ret = false;
            }

            var objekat = {
                "KorisnickoIme": korisnickoIme,
                "Lozinka": lozinka
            };

            var zaSlanje = JSON.stringify(objekat);

            if (ret == true) {
                $.ajax({
                    url: "/ajax/prijava/Korisnici",
                    type: "post",  //tip metode koju gadjamo  
                    data: zaSlanje,  //objekat koji se prosledjuje serveru
                    contentType: "application/json",   //govorimo da je podatak koji se salje tipa string
                    dataType: "json",   //tip podatka koji se ocekuje od servera
                    async: false,
                    success: function (data) {
                        $("#rezultatLogovanja").html(data);
                        if (data == "Uneli ste neispravnu lozinku." || data == "Korisnik sa datim korisnickim imenom ne postoji.") {
                            ret = false;
                        }
                    },

                    error: function (err) {
                        alert("Doslo je do greske : " + err);
                    }
                });
            }

            return ret;
        }
    </script>

</head>
<body class="p-3 mb-2 bg-dark text-white">
    <a id="registracija" href="~/PrijavaIRegistracija/Registracija">Registruj se</a>

    <h1 id="naslov"> Prijava </h1>

    <form name="forma1" action="~/PrijavaIRegistracija/PrijaviKorisnika" method="post" onsubmit="return logovanje()">
        <table class="table table-borderless">
            <tr>
                <td scope="row" class="text-primary"> Korisnicko ime : </td>
                <td scope="row"> <input class="elem" type="text" name="KorisnickoIme" /></td>
            </tr>
            <tr>
                <td scope="row" class="text-primary"> Lozinka : </td>
                <td scope="row"> <input type="password" class="elem" name="Lozinka" /></td>
            </tr>
            <tr>
                <td align="center" colspan="2" id="dugme" scope="row"><input class="btn btn-primary btn-lg" type="submit" value="Prijavi se" /></td>
            </tr>
            <tr>
                <td scope="row">
                    <label id="rezultatLogovanja" class="text-danger"> </label>
                </td>
            </tr>
        </table>
    </form>

    <a id="pocetnaStranica" href="~/Home/Index" class="btn btn-primary btn-lg"  role="button">Nastavi kao neulogovan korisnik</a>
</body>
</html>
