﻿
@{
    Layout = null;
    Korisnik kor = (Korisnik)Session["Korisnik"];
    var data = (new System.Web.Script.Serialization.JavaScriptSerializer()).Serialize(kor);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registracija</title>

    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Registracija.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>  

    <script type="text/javascript">
        
        function postavi()
        {
            var kor = @Html.Raw(data);
            
            var pol;
            if (kor.Pol == "0")
            {
                $("input[name=Pol][value=Muski]").prop('checked',true);
            }
            else
            {
                $("input[name=Pol][value=Zenski]").prop('checked', true);
            }
            $("input[name=KorisnickoIme]").val(kor.KorisnickoIme);
            $("input[name=Lozinka]").val(kor.Lozinka);
            $("input[name=Ime]").val(kor.Ime);
            $("input[name=Prezime]").val(kor.Prezime);
            
        }

        function izmena()
        {
            var ret = true;

            var korisnickoIme = document.forms["forma1"].KorisnickoIme.value;
            var lozinka = document.forms["forma1"].Lozinka.value;
            var ime = document.forms["forma1"].Ime.value;
            var prezime = document.forms["forma1"].Prezime.value;
            var pol = document.forms["forma1"].Pol.value;


            if (korisnickoIme == "")
            {
                $("#ki").html("Morate uneti korisnicko ime.");
                ret = false;
            }
            if (lozinka == "")
            {
                $("#l").html("Morate uneti lozinku.");
                ret = false;
            }
            if (ime == "") {
                $("#i").html("Morate uneti ime.");
                ret = false;
            }
            if (prezime == "") {
                $("#p").html("Morate uneti prezime.");
                ret = false;
            }
            if (pol != "Muski" && pol != "Zenski")
            {
                $("#pol").html("Morate odabrati pol.");
                ret = false;
            }


            /*var objekat = {
                "KorisnickoIme": korisnickoIme,
                "Lozinka": lozinka
            };

            var zaSlanje = JSON.stringify(objekat);

            if (ret == true) {
                $.ajax({
                    url: "/ajax/prijava/KorisnickoPostojanje",
                    type: "post",  //tip metode koju gadjamo
                    data: zaSlanje,  //objekat koji se prosledjuje serveru
                    contentType: "application/json",   //govorimo da je podatak koji se salje tipa string
                    dataType: "json",   //tip podatka koji se ocekuje od servera
                    async: false,
                    success: function (data) {
                        $("#ki").html(data);
                        if (data == "Korisnik sa datim imenom vec postoji")
                            ret = false;
                    },

                    error: function (err) {
                        alert("Doslo je do greske : " + err);
                    }
                });
            }*/

            if (ret == true)
            {
                alert("Izmena korisnika " + ime + " " + prezime + " je uspesno izvrsena.");
            }

            return ret;
        }

    </script>
</head>
<body onload="postavi()" class="p-3 mb-2 bg-dark text-white">
    <h1 id="naslov"> Izmena </h1>

    <form name="forma1" action="~/PrijavaIRegistracija/IzmenaPodataka" method="post" onsubmit="return izmena()">
        <table class="table table-borderless">
            <tr class="text-primary">
                <td > Korisnicko ime : </td>
                <td> <input type="text" name="KorisnickoIme" /> </td>
                <td> <label id="ki" class="text-danger" ></label></td>
            </tr>
            <tr class="text-primary">
                <td> Lozinka : </td>
                <td> <input type="password" name="Lozinka" /> </td>
                <td> <label id="l" class="text-danger" ></label></td>
            </tr>
            <tr class="text-primary">
                <td> Ime : </td>
                <td> <input type="text" name="Ime" /> </td>
                <td> <label id="i" class="text-danger"></label></td>
            </tr>
            <tr class="text-primary">
                <td> Prezime : </td>
                <td> <input type="text" name="Prezime" /> </td>
                <td> <label id="p" class="text-danger"></label></td>
            </tr>
            <tr class="text-primary">
                <td> Pol : </td>
                <td>
                    Muski <input type="radio" name="Pol" value="Muski"/>
                    Zenski <input type="radio" name="Pol" value="Zenski"/>
                </td>
                <td> <label id="pol" class="text-danger"></label></td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" name="StaroKorisnickoIme" value="@kor.KorisnickoIme" />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2" > <input type="submit" value="Izmena" class="btn btn-primary btn-lg" /> </td>
            </tr>
        </table>
    </form>
</body>
</html>

