﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registracija</title>
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Registracija.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>  

    <script type="text/javascript">

    function registracija()
    {
        var ret = true;

        var korisnickoIme = document.forms["forma1"].KorisnickoIme.value;
        var lozinka = document.forms["forma1"].Lozinka.value;
        var ime = document.forms["forma1"].Ime.value;
        var prezime = document.forms["forma1"].Prezime.value;
        var pol = document.forms["forma1"].Pol.value;

        $("#ki").html("");
        $("#l").html("");
        $("#i").html("");
        $("#p").html("");
        $("#pol").html("");

        if (korisnickoIme == "")
        {
            $("#ki").html("Morate uneti korisnicko ime.");
            ret = false;
        }
        if (lozinka == "")
        {
            $("#l").html("Morate uneti lozinku.");
            ret = false;
        }
        if (ime == "") {
            $("#i").html("Morate uneti ime.");
            ret = false;
        }
        if (prezime == "") {
            $("#p").html("Morate uneti prezime.");
            ret = false;
        }
        if (pol != "Muski" && pol != "Zenski")
        {
            $("#pol").html("Morate odabrati pol.");
            ret = false;
        }


        var objekat = {
            "KorisnickoIme": korisnickoIme,
            "Lozinka": lozinka
        };

        var zaSlanje = JSON.stringify(objekat);

        if (ret == true) {
            $.ajax({
                url: "/ajax/prijava/KorisnickoPostojanje",
                type: "post",  //tip metode koju gadjamo
                data: zaSlanje,  //objekat koji se prosledjuje serveru
                contentType: "application/json",   //govorimo da je podatak koji se salje tipa string
                dataType: "json",   //tip podatka koji se ocekuje od servera
                async: false,
                success: function (data) {
                    $("#ki").html(data);
                    if (data == "Korisnik sa datim imenom vec postoji")
                        ret = false;
                },

                error: function (err) {
                    alert("Doslo je do greske : " + err);
                }
            });
        }

        if (ret == true)
        {
            alert("Registracija korisnika " + ime + " " + prezime + " je uspesno izvrsena.");
        }

        return ret;
    }

    </script>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    @{
        string akcija = "";
        string poziv = (string)HttpContext.Current.Application["Poziv"];
        if (poziv == "Domacin")
        {
            akcija = "RegistrujDomacina";
        }
        else if (poziv == "Neprijavljen")
        {
            akcija = "RegistrujGosta";
        }
        else
        {
            akcija = "RegistrujGosta";
        }
    }

    <h1 id="naslov"> Registracija </h1>

    <form name="forma1" action="~/PrijavaIRegistracija/@akcija" method="post" onsubmit="return registracija()">

        <table class="table table-borderless">
            <tr>
                <td scope="row" class="text-primary"> Korisnicko ime : </td>
                <td scope="row"> <input type="text" name="KorisnickoIme" /> </td>
                <td> <label id="ki" class="text-danger"></label></td>
            </tr>
            <tr>
                <td scope="row" class="text-primary"> Lozinka : </td>
                <td scope="row"> <input type="password" name="Lozinka" /> </td>
                <td> <label id="l" class="text-danger"></label></td>
            </tr>
            <tr>
                <td scope="row" class="text-primary"> Ime : </td>
                <td scope="row"> <input type="text" name="Ime" /> </td>
                <td> <label id="i" class="text-danger"></label></td>
            </tr>
            <tr>
                <td scope="row" class="text-primary"> Prezime : </td>
                <td scope="row"> <input type="text" name="Prezime" /> </td>
                <td> <label id="p" class="text-danger"></label></td>
            </tr>
            <tr>
                <td scope="row" class="text-primary"> Pol : </td>
                <td scope="row">
                    <label class="text-primary"> Muski </label> <input type="radio" name="Pol" value="Muski" />
                    <label class="text-primary"> Zenski </label> <input type="radio" name="Pol" value="Zenski" />
                </td>
                <td> <label id="pol" class="text-danger"></label></td>
            </tr>
            <tr>
                <td scope="row" align="center" colspan="2"> <input type="submit" value="Registruj se" class="btn btn-primary btn-lg" /> </td>
            </tr>
        </table>
    </form>
</body>
</html>
