﻿body {
    height: 1000px;
}

#naslov {
    position: absolute;
    top: 20%;
    left: 44%;
}

#osnovnaTabela {
    position: absolute;
    top: 30%;
    left: 40%;
    max-width: 30%;
}

#prijava {
    position: absolute;
    top: 4%;
    left: 84%;
}

#registracija {
    position: absolute;
    top: 4%;
    left: 91%;
}

img {
    width: 120px ;
    height: 120px ;
}

#formaPretrage {
    position: absolute;
    top: 20%;
    left: 1%;
    max-width: 20%;
}

#formaSortiranja {
    position: absolute;
    top: 90%;
    left: 75%;
    max-width: 25%;
}

#formaFiltriranje {
    position: absolute;
    top: 20%;
    left: 75%;
    max-width: 20%;
}
