﻿body {
}


form {
    position: absolute;
    top: 20%;
    left: 1%;
    max-width: 30%;
}

#listaKorisnika {
    position: absolute;
    top: 20%;
    left: 37%;
    max-width: 30%;
}

#kreiranjeDomacina {
    position: absolute;
    top: 50%;
    left: 73%;
}

label {
    position: absolute;
    top: 15%;
    left: 37%;
    max-width: 30%;
}
