﻿form {
    position: fixed;
    top: 50%;
    left: 47%;
    margin-top: -50px;
    margin-left: -100px;
}


#registracija {
    position: fixed;
    top: 10%;
    left: 95%;
    margin-top: -50px;
    margin-left: -100px;
}


#pocetnaStranica {
    position: fixed;
    top: 46%;
    left: 5%;
}

#naslov {
    position: fixed;
    top: 25%;
    left: 48%;
}
