﻿body {
}


#sadrzaj {
    position: absolute;
    top: 15%;
    left: 10%;
    max-width: 40%;
}

#dodavanje {
    position: absolute;
    top: 15%;
    left: 58%;
    max-width: 40%;
}

p {
    position: absolute;
    top: 11%;
    left: 13%;
}