﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Apartmani</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Apartmani.css" rel="stylesheet" />
    

    <script>
          $( function() {
            $( "#datepicker" ).datepicker();
        });

        function pretragaValidacija()
        {

            var dolazak = document.forms["formaPretraga"].dolazak.value;
            var odlazak = document.forms["formaPretraga"].odlazak.value;
            var cenaMin = document.forms["formaPretraga"].cenaMin.value;
            var cenaMax = document.forms["formaPretraga"].cenaMax.value;
            var sobaMin = document.forms["formaPretraga"].sobaMin.value;
            var sobaMax = document.forms["formaPretraga"].sobaMax.value;
            var soba = document.forms["formaPretraga"].soba.value;

            var ret = true;

            if (dolazak != "" && odlazak != "")
            {
                if (dolazak > odlazak) {
                    ret = false;
                    $("#porukaGreske").html("Datum dolska mora biti pre datuma odlaska.");
                }
            }
            else if (dolazak == "" && odlazak != "")
            {
                ret = false;
                $("#porukaGreske").html("Oba datuma moraju biti popunjena");
            }
            else if (dolazak != "" && odlazak == "")
            {
                ret = false;
                $("#porukaGreske").html("Oba datuma moraju biti popunjena");
            }

            if (cenaMin != "" && cenaMax != "")
            {
                if (isNaN(cenaMin) == true || isNaN(cenaMax) == true)
                {
                    ret = false;
                    $("#porukaGreske").html("Morate uneti brojne vrednosti za cenu");
                }
                else
                {
                    if (+cenaMin > +cenaMax) {
                        ret = false;
                        $("#porukaGreske").html("Minimalna cena mora biti manja od makslimalne cene.");
                    }

                    if (+cenaMin < 0 || +cenaMax < 0)
                    {
                        ret = false;
                        $("#porukaGreske").html("Cena mora biti pozitivan broj");
                    }
                }
            }
            else if (cenaMin == "" && cenaMax != "") {
                ret = false;
                $("#porukaGreske").html("Oba polja za cenu moraju biti popunjena");
            }
            else if (cenaMin != "" && cenaMax == "") {
                ret = false;
                $("#porukaGreske").html("Oba polja za cenu moraju biti popunjena");
            }


            if (sobaMin != "" && sobaMax != "")
            {
                if (isNaN(sobaMin) == true || isNaN(sobaMin) == true) {
                    ret = false;
                    $("#porukaGreske").html("Morate uneti brojne vrednosti za cenu");
                }
                else
                {
                    if (+sobaMin > +sobaMax) {
                        ret = false;
                        $("#porukaGreske").html("Minimalan broj soba mora biti manji od makslimalnog broja soba.");
                    }

                    if (soba != "")
                    {
                        if (+soba > +sobaMax || +soba < +sobaMin) {
                            ret = false;
                            $("#porukaGreske").html("Tacan broj soba mora biti u okviru navedenih minimalnih i maksimalnih parametara");
                        }
                    }

                    if (+sobaMin < 0 || +sobaMax < 0 || +soba < 0) {
                        ret = false;
                        $("#porukaGreske").html("Broj soba mora biti pozitivan ceo broj");
                    }

                }
            }

            return ret;

        }

        function prosledjivanje(idApartmana)
        {
            
        }
    </script>
    
</head>
<body class="p-3 mb-2 bg-dark text-white">

    <h1 id="naslov"> Apartmani </h1>
    
    @{
                    Korisnik korisnik = (Korisnik)Session["Korisnik"];
                    //List<Apartman> apartmani = (List<Apartman>)HttpContext.Current.Application["Apartmani"];
                    List<Apartman> apartmani = (List<Apartman>)ViewBag.Apartmani;
                    if (apartmani == null)
                    {
                        apartmani = new List<Apartman>();
                    }


                    //svi ulogovani korinici mogu da vide svoje profile i da menjaju licne podatke
                    if (korisnik == null)
                    {
            //korisnik nije prijavljen
            //ima pregled svih AKTIVNIH apartmana
            //moze da vrsi pretragu po i sortiranje apartmana po svim kriterijumima
            //mogu videti samo komentare korisnika (za view "Apartman")
            <div id="neulogovan">
                <a href="~/PrijavaIRegistracija/Prijava" id="prijava">Prijavi se</a>
                <a href="~/PrijavaIRegistracija/Registracija" id="registracija">Registruj se</a>
                                    @{
                            HttpContext.Current.Application["Poziv"] = "Neprijavljen";
                        }
                <table class="table table-striped table-dark" id="osnovnaTabela">

                    @foreach (var item in apartmani)
                    {
                    Apartman apartman = item as Apartman;
                    if (apartman.Status == Status.Aktivan && apartman.Obrisan != true)
                    {
            
                            <tr onclick="window.location.href='@Url.Action("KorisnickiPregledApartmana","Apartmani", new { idApartmana = apartman.Id })';">
                                <td scope="row">
                                    @{
                            if (apartman.Slike == null || apartman.Slike.Count == 0)
                            {

                                            <div id="slika" class="text-primary">
                                                <img src="#" />
                                            </div>
                                        }
                                        else
                                        {
                                            string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(apartman.Slike[0]);
                                            <div id="slika" class="text-primary">
                                                <img src="@Url.Content(relPutanja)" width="60" height="60" runat="server" />
                                            </div>
                                        }
                                    }
                                </td>
                                <td>
                                    <div id="lokacija" class="text-primary">
                                        @apartman.Lokacija.Adresa.UlicaIBroj  <br />
                                        @apartman.Lokacija.Adresa.NaseljenoMesto,
                                        @apartman.Lokacija.Adresa.PostanskiBroj <br />
                                        @apartman.Lokacija.GeografskaSirina , @apartman.Lokacija.GeografskaDuzina
                                    </div>
                                </td>
                            </tr>

                      }
                    }

                </table>
            </div>
                }
                else if (korisnik.Uloga == Uloga.Gost)
                {
                    //ima pregled, pretragu i sortiranje AKTIVNIH apartmana po svim kriterijumima
                    //Mogu videti komentare od korisnika za apartmane 
                    <div id="gost">
                        <a href="~/PrijavaIRegistracija/Profil" id="prijava">@korisnik.KorisnickoIme</a>
                        <a href="~/PrijavaIRegistracija/OdjaviKorisnika" id="registracija" >Odjavi se</a>


                        <table class="table table-striped table-dark" id="osnovnaTabela">
                            @foreach (var item in apartmani)
                {
                Apartman apartman = item as Apartman;
                if (apartman.Status == Status.Aktivan && apartman.Obrisan != true)
                {
                                    <tr onclick="window.location.href='@Url.Action("KorisnickiPregledApartmana","Apartmani", new { idApartmana = apartman.Id })';">
                                        <td scope="row">
                                            @{
                    if (apartman.Slike == null || apartman.Slike.Count == 0)
                    {

                                <div id="slika" class="text-primary">
                                    <img src="#" />
                                </div>
                            }
                            else
                            {
                                string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(apartman.Slike[0]);
                                <div id="slika" class="text-primary">
                                    <img src="@Url.Content(relPutanja)" width="60" height="60" runat="server" />
                                </div>
                            }
                        }
                    </td>
                    <td>
                        <div id="lokacija" class="text-primary">
                            @apartman.Lokacija.Adresa.UlicaIBroj  <br />
                            @apartman.Lokacija.Adresa.NaseljenoMesto,
                            @apartman.Lokacija.Adresa.PostanskiBroj <br />
                            @apartman.Lokacija.GeografskaSirina , @apartman.Lokacija.GeografskaDuzina
                        </div>
                    </td>
                </tr>
                    }
                }

                        </table>

                        </div>

        }
        else if (korisnik.Uloga == Uloga.Administrator)
        {
            //imaju pregled SVIH apartmana (bez obira na status)
            //mogu da modifikuju i brisu sve postojece apartmane
            // + sortiranje i pretraga

            <div id="admin">
                <a href="~/PrijavaIRegistracija/Profil" id="prijava" >@korisnik.KorisnickoIme</a>
                <a href="~/PrijavaIRegistracija/OdjaviKorisnika" id="registracija" >Odjavi se</a>

                <a href="~/PrijavaIRegistracija/PregledSvihKorisnika" class="btn btn-primary btn-lg"  role="button">Pregled svih registrovanih korisnika</a>
                <a href="~/Apartmani/SadrzajiApartmana" class="btn btn-primary btn-lg"  role="button" >Pregled sadrzaja apartmana</a>

                                                      
                    <table class="table table-striped table-dark"  id="osnovnaTabela">
                       

            @foreach (var item in apartmani)
            {

            Apartman apartman = item as Apartman;

            if (apartman.Obrisan != true)
            {
                <tr onclick="window.location.href='@Url.Action("KorisnickiPregledApartmana","Apartmani", new { idApartmana = apartman.Id })';">
                    <td scope="row" >
                        @{
                        if (apartman.Slike == null || apartman.Slike.Count == 0)
                        {

                            <div id="slika" class="text-primary">
                                <img src="#" />
                            </div>
                        }
                        else
                        {
                            string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(apartman.Slike[0]);
                            <div id="slika" class="text-primary">
                                <img src="@Url.Content(relPutanja)" runat="server" />
                            </div>
                        }
                    }
                            </td>
                            <td>
                                <div id="lokacija" class="text-primary">
                                    @apartman.Lokacija.Adresa.UlicaIBroj  <br />
                                    @apartman.Lokacija.Adresa.NaseljenoMesto,
                                    @apartman.Lokacija.Adresa.PostanskiBroj <br />
                                    @apartman.Lokacija.GeografskaSirina , @apartman.Lokacija.GeografskaDuzina
                                </div>
                            </td>
                            <td>
                                <a href="~/Apartmani/Modifikacija?id=@apartman.Id">Modifikacija</a> <br />
                                <a href="~/Apartmani/BrisanjeApartmana?id=@apartman.Id">Brisanje</a>
                            </td>
                        </tr>
                        }
                    }


                    </table>

                </div>
        }
        else if (korisnik.Uloga == Uloga.Domacin)
        {

            //imaju pregled, pretragu i sortiranje svih SVOJIH AKTIVNIH apartmana po svim kriterijumima
            // mogu da vide svoje NEAKTIVNE apartmane
            //imaju mogucnost kreiranja, modifikacije i  brisanja svojih apartmana.
            //Uz pregled apartmana oni mogu videti i sve njihove rezervacije kao i goste koji su rezervisali (sve navedeno je sadrzaj apartmana)
            <div id="domacin">

                <a href="~/PrijavaIRegistracija/Profil" id="prijava" >@korisnik.KorisnickoIme</a>
                <a href="~/PrijavaIRegistracija/OdjaviKorisnika" id="registracija" >Odjavi se</a>


                <table class="table table-striped table-dark" id="osnovnaTabela" >
                
                    <tr>
                        <td>Aktivni apartmani</td>
                    </tr>
                    @foreach (var item in apartmani)
        {
            Apartman apartman = item as Apartman;
            if (apartman.Domacin.KorisnickoIme == korisnik.KorisnickoIme)
            {
                if (apartman.Status == Status.Aktivan && apartman.Obrisan != true)
                {
                                <tr onclick="window.location.href='@Url.Action("KorisnickiPregledApartmana","Apartmani", new { idApartmana = apartman.Id })';">
                                    <td scope="row">
                                        @{
                        if (apartman.Slike == null || apartman.Slike.Count == 0)
                        {

                                <div id="slika" class="text-primary">
                                    <img src="#"/>
                                </div>
                                }
                                else
                                {
                                    string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(apartman.Slike[0]);
                                    <div id="slika" class="text-primary">
                                        <img src="@Url.Content(relPutanja)" width="60" height="60" runat="server" />
                                    </div>
                                }
                            }
                                    </td>
                                    <td>
                                        <div id="lokacija" class="text-primary">
                                            @apartman.Lokacija.Adresa.UlicaIBroj  <br />
                                            @apartman.Lokacija.Adresa.NaseljenoMesto,
                                            @apartman.Lokacija.Adresa.PostanskiBroj <br />
                                            @apartman.Lokacija.GeografskaSirina , @apartman.Lokacija.GeografskaDuzina
                                        </div>
                                    </td>
                                    <td>
                                        <a href="~/Apartmani/Modifikacija?id=@apartman.Id">Modifikacija</a> <br />
                                        <a href="~/Apartmani/BrisanjeApartmana?id=@apartman.Id">Brisanje</a>
                                    </td>
                                </tr>
                            }

                        }
                    }
                    <tr>
                        <td>Neaktivni apartmani</td>
                    </tr>
                    @foreach (var item in apartmani)
        {
            Apartman apartman = item as Apartman;
            if (apartman.Domacin.KorisnickoIme == korisnik.KorisnickoIme)
            {
                if (apartman.Status == Status.Neaktivan && apartman.Obrisan != true)
                {
                                <tr onclick="window.location.href='@Url.Action("KorisnickiPregledApartmana","Apartmani", new { idApartmana = apartman.Id })';">
                                    <td scope="row">
                                        @{
                        if (apartman.Slike == null || apartman.Slike.Count == 0)
                        {

                                                <div id="slika" class="text-primary">
                                                    <img src="#" />
                                                </div>
                                            }
                                            else
                                            {
                                                string relPutanja = "~/Slike/" + System.IO.Path.GetFileName(apartman.Slike[0]);
                                                <div id="slika" class="text-primary">
                                                    <img src="@Url.Content(relPutanja)" width="60" height="60" runat="server" />
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        <div id="lokacija" class="text-primary">
                                            @apartman.Lokacija.Adresa.UlicaIBroj  <br />
                                            @apartman.Lokacija.Adresa.NaseljenoMesto,
                                            @apartman.Lokacija.Adresa.PostanskiBroj <br />
                                            @apartman.Lokacija.GeografskaSirina , @apartman.Lokacija.GeografskaDuzina
                                        </div>
                                    </td>
                                    <td>
                                        <a href="~/Apartmani/Modifikacija?id=@apartman.Id">Modifikacija</a> <br />
                                        <a href="~/Apartmani/BrisanjeApartmana?id=@apartman.Id">Brisanje</a>
                                    </td>
                                </tr>
                            }
                        }
                    }


                </table>

                <a href="~/Domacin/Apartman" class="btn btn-primary btn-lg"  role="button">Prijavi novi apartman</a>
                </div>
        }
        else
        {
            //po potrebi staviti kao za korisnik == null
        }
    }

    <form action="~/Pretraga/PretragaApartmana" id="formaPretrage" name="formaPretraga" onsubmit="return pretragaValidacija()">
        <table class="table table-borderless">
            <tr>
                <td class="text-primary" colspan="3" align="center" >Pretraga</td>
            </tr>
            <tr class="text-primary">
                <td>Opseg dolaska i odlaska</td>
                <td>Od : <input type="date" id="datepicker1" name="dolazak"></td>
                <td>Do : <input type="date" id="datepicker2" name="odlazak"></td>
            </tr>
            <tr class="text-primary">
                <td>Naziv grada : </td>
                <td><input type="text" name="lokacija"></td>
            </tr>
            <tr class="text-primary">
                <td>Cena</td>
                <td>Od : <input type="text" name="cenaMin"></td>
                <td>Do : <input type="text" name="cenaMax"></td>
            </tr>
            <tr class="text-primary">
                <td>Broj soba</td>
                <td>Od : <input type="number" name="sobaMin"></td>
                <td>Do : <input type="number" name="sobaMax"></td>
            </tr>
            <tr class="text-primary">
                <td>Broj soba (tacan broj)</td>
                <td><input type="number" name="soba" ></td>
            </tr>
            <tr class="text-primary">
                <td colspan="3" align="center">
                    <input  type="submit" value="Pretrazi"  class="btn btn-primary"/>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center"><label class="text-danger" id="porukaGreske"></label></td>
            </tr>
        </table>
    </form>


    <form action="~/Pretraga/SortiranjeApartmana" id="formaSortiranja" >
       <table class="table table-borderless">
           <tr class="text-primary">
               <td colspan="2" align="center">Sortiranje po ceni</td>
           </tr>
           <tr class="text-primary">
               <td>
                   <select name="sortiranje">
                       <option value="rastuce">Rastuce</option>
                       <option value="opadajuce">Opadajuce</option>
                   </select>
               </td>
               <td>
                   <input type="submit" value="Sortiraj" class="btn btn-primary" />
               </td>
           </tr>
       </table>
    </form>

    <form action="~/Pretraga/FiltriranjeApartmana" id="formaFiltriranje">
        <table class="table table-borderless">
            <tr class="text-primary">
                <td colspan="2" align="center">Filtriranje</td>
            </tr>
            <tr class="text-primary">
                <td>Sadrzaj apatrtmana</td>
                <td>
                    @{
                        List<SadrzajApartmana> sadrzaj = (List<SadrzajApartmana>)HttpContext.Current.Application["Sadrzaj"];
                        if (sadrzaj == null)
                        {
                            sadrzaj = new List<SadrzajApartmana>();
                        }
                    }
                    <select name="Sadrzaj" multiple>
                        @foreach (var item in sadrzaj)
                        {
                            if (!item.Obrisan)
                            {
                                <option value="@item.ID">@item.Naziv</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr class="text-primary">
                <td>Tip </td>
                <td>
                    <select name="TipApartmana">
                        <option value="Nista">Nebitno</option>
                        <option value="CeoApartman">Ceo apartman</option>
                        <option value="Soba">Soba</option>
                    </select>
                </td>
            </tr>
            @{
                if (korisnik == null)
                {
                }
                else if (korisnik.Uloga == Uloga.Gost)
                {
                }
                else
                {
                    <tr class="text-primary">
                        <td> Status </td>
                        <td>
                            <select name="Status">
                                <option value="Nista">Nebitno</option>
                                <option value="Aktivan">Aktivan</option>
                                <option value="Neaktivan">Neaktivan</option>
                            </select>
                        </td>
                    </tr>
                }

            }
            <tr class="text-primary">
                <td colspan="2" align="center">
                    <input type="submit" value="Filtriraj" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
